body {
    background-image: url(../images/fond.png);
}

section, h3, h5, p, button, span, ul, footer {
    margin-bottom: 2rem;
    font-family: 'arial', sans-serif;
}
h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

p {
font-size: 1em;
}

section, p, ul, #pied {
    color: #525252;
}

article {
    background-image: url(../images/fond-article.png);
}

img {
    margin-bottom: 1rem;
}

header img:first-child{
    margin: 0;
}

button {
    background-color: #FF3D00;
    color: white;
    margin-bottom: 1rem;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 4em;
}

.navbar {
    font-family: 'Abel', sans-serif;
    width: 80%;
    background-color:  #76CBFA;
    box-shadow: -1px 2px 5px 1px  #4A91D2;
    font-size: 1.5em;
}

h2, h3, h5 {
    color: #2A2A2A;
}

span, .span {
    color: #FF3002;
}

blockquote {
    font-style: italic;
    background-image: url(../images/citation.jpg);
}
header {
    margin-bottom: 2rem;
    background-image: url(../images/header.png);
    padding-bottom: 2em;
}

#quote {
    margin-top: 0.5rem;
    color: black;
    font-weight: bold;
}

#pied {
    background-image: url(../images/footer.png);
    margin-bottom: 0;
    padding: 2rem 0;
}

#img_first {
    width : 80%;
    margin: 1rem;
    border: 20px solid white;
}
.list-group li {
    background-image: url(../images/fond.png)
}

.fleche {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 1rem;
}

blockquote {
    position: relative;
    /* background: rgba(230, 135, 220, 0.65); */
    background: linear-gradient( rgba(0, 255, 25, 0.5), rgba(224, 167, 251, 0.82));
    border-radius: .4em;
        padding: 1rem;
}

blockquote:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    /* border-top-color: rgba(230, 135, 220, 0.65); */
    border-top-color: rgba(224, 167, 251, 0.82);
    border-bottom: 0;
    border-left: 0;
    margin-left: -9.5px;
    margin-bottom: -19px;
}
