body {
    background-image: url(../images/fond.png);
}

section, h3, h5, p, button, span, ul, footer {
    margin-bottom: 2rem;
    font-family: 'arial', sans-serif;
}

section, p, ul, #pied {
    color: #525252;
}

article {
    background-image: url(../images/fond-article.png);
}

img {
    margin-bottom: 1rem;
}

header img:first-child{
    margin: 0;
}

button {
    background-color: #FF3D00;
    color: white;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.navbar {
    font-family: 'Abel', sans-serif;
    width: 80%;
    background-color:  #76CBFA;
    box-shadow: -1px 2px 5px 1px  #4A91D2;
}

h2, h3, h5 {
    color: #2A2A2A;
}

span, .span {
    color: #FF3002;
}

blockquote {
    font-style: italic;
    background-image: url(../images/citation.jpg);
}
header {
    margin-bottom: 2rem;
    background-image: url(../images/header.png);
    padding-bottom: 2em;
}

#quote {
    margin-top: 0.5rem;
    color: black;
    font-weight: bold;
}

#pied {
    background-image: url(../images/footer.png);
    margin-bottom: 0;
    padding: 2rem 0;
}

#img_first {
    width : 80%;
    margin: 1rem;
    border: 20px solid white;
}
.list-group li {
    background-image: url(../images/fond.png)
}
